



  <!-- Tambahkan ini pada bagian form -->
  <div>
    <form class="container" [formGroup]="FormAduanCatering" (ngSubmit)="submitAduanCatering()">
      <ion-item>
        <ion-input type="text" name="lokasi" placeholder="lokasi" formControlName="lokasi"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="deskripsi" placeholder="deskripsi"  formControlName="deskripsi"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="kritik_saran" placeholder="kritik dan saran"  formControlName="kritik_saran"></ion-input>
      </ion-item>    
      <ion-button type="submit" expand="block" color="primary">Submit</ion-button>
    </form>
  </div>
